/*Fonts */
:root {
    --rounding: 10px;
    --card-rounding: 10px 10px 0px 0px;
    --accent: #D90000 !important;
    --accent-selected: #D90000 !important;
    --accent-text: #D90000 !important;
    --accent-icon: #D90000 !important;
    --swiper-theme-color: #d90000 !important;
}
@import url("@import url(https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/Outline.css");
html {font-family:  'K2D',sans-serif ;  } body,h1,h2,h3 { font-family: 'K2D' ,sans-serif;}
/*Цвет прокрутки и фон */
* {
    scrollbar-width: thin;
    scrollbar-color: #d90000 #202020 !important;
}

/*Спинер загрузки*/
.mdl-spinner__layer-1 {
    border-color: #00FF00 !important;
}
.mdl-spinner__layer-2 {
	border-color: #00FF00 !important;
}
.mdl-spinner__layer-3 {
	border-color: #00FF00 !important;
}
.mdl-spinner__layer-4 {
	border-color: #00FF00 !important;
}
#indexPage .raised::before {
	background: #00FF00 !important;
}
.button-flat:hover {
	color: #00FF00 !important;
}

  /*Пользовательский интерфейс видеоплеера*/
  
  .mdl-slider::-webkit-slider-thumb {
    background: #00FF00;
    }
    .layout-mobile #itemDetailPage .btnPlay,.layout-mobile #itemDetailPage .btnResume {
    background: #00FF00 !important;
    flex-flow:row;
    flex-shrink:0;
    font-size:150%;
    grid-gap:5%!important;
    justify-content:flex-start;
    padding:10px!important;
    text-shadow:none;
    width:100%!important
    }
    .mdl-slider-background-lower {
    background-color: #00FF00 !important
    }
    .mdl-slider::-moz-range-thumb {
        -moz-appearance: none;
        background: #00FF00 !important;
        background-image: none;
        border: none;
        border-radius: 50%;
        box-sizing: border-box;
        height: 1.08em;
        -moz-transition: .2s;
        transition: .2s;
        width: 1.08em;
    }

/*Уменьшите мои медиа*/

#indexPage .raised.emby-button:hover {
    background: rgb(0, 0, 0, .75) !important;
    box-shadow: 0px 5px 9px 0px black;
}

#indexPage .raised.emby-button {
    background: rgb(0, 0, 0, .25) !important;
    box-shadow: 0px 0px 9px 0px black;
    transition: background .15s ease-out, box-shadow .15s ease-out;
    border-radius: var(--rounding);
}
.paper-icon-button-light:hover:not(:disabled) {
    color: #fff !important;
    background-color: rgba(217, 0, 0, 1) !important;
}
/*радиус и цвет кнопок*/
.raised {
    border-radius: 2vh;
    overflow: hidden;
    background: #007700 !important;
}
.emby-input:focus, .emby-textarea:focus {
    border-color: #00FF00;
}
.backgroundContainer,
.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu,
.mainDrawer,
.drawer-open,
html {
    background: rgb(0 0 0 / 85%) ;
}

.content-primary {
    padding-top: 0;
}

.layout-mobile .adminDrawerLogo {
    border-bottom: 1px solid rgb(224 224 224 / 30%);
    border-radius: 0 !important;
}

.layout-tv body {
    overflow-y: scroll !important;
}

.layout-tv div[data-role=page] {
    margin: 0;
    overflow: visible;
}

/*Subtitle Fonts thanks the u/Edgementality-https://bit.ly/33slrSa*/


/*Firefox*/

.videoSubtitles {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1) !important;
}

/*Chrome, Edge Chromium & Saffari*/

video::-webkit-media-text-track-display {
    font-family: "Raleway", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: 0em 0em .2em rgba(0, 0, 0, 1) !important;
}

/*резервное копирование субтитров*/

video::-webkit-media-text-track-container {
    font-family: "Raleway", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: 0em 0em .2em rgba(0, 0, 0, 1) !important;
}

video:cue {
    font-family: "Raleway" !important;
    font-weight: 700 !important;
    text-shadow: 0em 0em .2em rgba(0, 0, 0, 1) !important;
}

/*Настройка радиуса границы*/
.listItemIcon:not(.listItemIcon-transparent) {
    background-color: #d90000 !important;
    color: #fff;
    padding: .5em;
    border-radius: 100em;
    margin: 0 .2em 0 .4em;
}

.emby-checkbox:checked + span + .checkboxOutline, .itemProgressBarForeground {
    background-color: #00FF00 !important;
}
.emby-checkbox:checked + span + .checkboxOutline {
    border-color: #000000 !important;
}
progress::-moz-progress-bar {
    background-color: #d90000 !important;
}
::selection {
    background: #d90000 !important;
    text-shadow: none;
}
element {
    color: #d90000 !important;
    margin-left: 5px;
    margin-right: 5px;
}

/*Image streching fix*/

img {
    -o-object-fit: cover;
    object-fit: cover;
}

