/*Fonts */
:root {
    --rounding: 10px;
    --card-rounding: 10px 10px 0px 0px;
    --accent: #D90000 !important;
    --accent-selected: #D90000 !important;
    --accent-text: #D90000 !important;
    --accent-icon: #D90000 !important;
    --swiper-theme-color: #d90000 !important;
}
@import url("@import url(https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/Outline.css");
html {font-family:  'K2D',sans-serif ;  } body,h1,h2,h3 { font-family: 'K2D' ,sans-serif;}
/*Цвет прокрутки и фон */
* {
    scrollbar-width: thin;
    scrollbar-color: #d90000 #202020 !important;
}

/*Spinner*/
.mdl-spinner__layer-1 {
    border-color: #00FF00 !important;
}
.mdl-spinner__layer-2 {
	border-color: #00FF00 !important;
}
.mdl-spinner__layer-3 {
	border-color: #00FF00 !important;
}
.mdl-spinner__layer-4 {
	border-color: #00FF00 !important;
}
#indexPage .raised::before {
	background: #00FF00 !important;
}
.button-flat:hover {
	color: #00FF00 !important;
}

  /*VideoPlayerUI*/
  
  .mdl-slider::-webkit-slider-thumb {
    background: #d90000;
    }
    .layout-mobile #itemDetailPage .btnPlay,.layout-mobile #itemDetailPage .btnResume {
    background: #d90000 !important;
    flex-flow:row;
    flex-shrink:0;
    font-size:150%;
    grid-gap:5%!important;
    justify-content:flex-start;
    padding:10px!important;
    text-shadow:none;
    width:100%!important
    }
    .mdl-slider-background-lower {
    background-color: #d90000 !important
    }
    .mdl-slider::-moz-range-thumb {
        -moz-appearance: none;
        background: #d90000 !important;
        background-image: none;
        border: none;
        border-radius: 50%;
        box-sizing: border-box;
        height: 1.08em;
        -moz-transition: .2s;
        transition: .2s;
        width: 1.08em;
    }
